.footer {
  padding: 80px 0;
  background: #0d0d2b;
  &__wrapper {
    display: flex;
    margin-bottom: 120px;
  }
  &__logo {
    display: flex;
    margin-right: 170px;
    img {
      margin-right: 10px;
    }
  }
  &__titletext {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  &__descr {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    margin-bottom: 25px;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    margin-right: 178px;
    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 38px;
      color: #f2f2f2;
    }
  }
  &__follow {
    margin-bottom: 40px;
  }
  &__payments {
    width: 355px;
    display: flex;
    justify-content: space-between;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }
  &__social {
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
