.title {
  margin: 0;
  font-weight: 700;
  color: #ffffff;
}
.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}
.fz-64 {
  font-size: 64px;
  line-height: 76px;
}
.fz-40 {
  font-size: 40px;
  line-height: 150%;
}
.fz-32{
  font-size: 32px;
  line-height: 150%;
}